<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tfg_manualvaro.androidmotogp" >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"/>
        <activity android:name=".MainActivityCategoria"/>
        <activity android:name=".MainActivityPiloto"/>
        <activity android:name=".MainActivityPilotoDisplay"/>
        <activity android:name=".MainActivitySelector"/>
        <activity android:name=".MainActivityCarrera"/>
        <activity android:name=".MainActivityCampeonatoDisplay"/>
        <activity android:name=".MainActivityCarreraDisplay"/>
        <activity android:name=".MainActivityInicial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>